body {
	background-color:#ecf0f1 ;
	margin:0;
	padding: 0;
}
nav {
	height:15%;
}
img {
	width:30%;
	display: inline-block;
	margin-top:2%;
	margin-left:10%;
}
@font-face {
    font-family: Codelight;
    src: url(code_light.otf);
}
nav ul {
	list-style-type: none;
	width: 50%;
	margin-top:-5%;
	margin-left:45%;
}
nav ul li {
	display: inline-block;
	font-family: "Codelight";
	padding: 1%;
}
nav ul li a {
	text-decoration: none;
	color:black;
	font-size:1.1em;
}